div#item-info{

    div#modify-item-title{
        text-align: center;

        h1{
            color: $colour1;
            font-size: 4rem;
            font-weight: 400;
            padding: 10px 50px;
            display: inline-block;
            margin: 20px;

            @media screen and (max-width: 365px) {
                font-size: 3rem;
            }
        }
    }

    div#item-info-inner{
        margin: 30px;

        .product-info{
            flex: 1 1 100%;
            background-color: $white;
            color: $black;
            margin: 2px 30px;
            padding: 10px;
            align-items: center;
            border: 1px solid $colour2;

            div#item-img{
                flex: 1 1 70px;

                img{
                    display: inline-block;
                    max-width: 50px;
                }
            }

            div#item-name-div{
                flex: 1 1 70px;
            }

            div#sale-prices{
                flex: 1 1 70px;
                text-align: right;
            }

            form.update-item-form{
                flex: 1 1 50px;
                text-align: right;

                button{
                    display: inline-block;
                }
            }

            form#remove-item-form{
                flex: 0 1 50px;
                text-align: right;

                button{
                    display: inline-block;
                }
            }
        }
    }
}