/*Footer*/
footer{
    background-color: $colour1;

    div#footer-inner {
        align-items: stretch;
        color: $white;

        div.footer-item {
            flex: 1 1 300px;
            padding-bottom: 130px;
            text-align: center;

            &#product-categories {
                background-color: $colour3;
                text-transform: capitalize;

                @media screen and (max-width: 1100px) {
                    display: none;
                }
            }

            &#site-navigation{

                @media screen and (max-width: 450px) {
                    text-align: left;
                    padding-left: 30px;
                }
            }

            div#site-navigation-inner{
                display: inline-block;
            }

            div#footer-social-inner{
                display: inline-block;
            }

            h3{
                padding-left: 20px;
                font-weight: 100;
                font-size: 1.7em;
                text-align: left;


                @media screen and (max-width: 830px) {
                    padding-left: 0;
                }

                @media screen and (max-width: 400px) {
                    font-size: 1.4em;
                }
            }

            ul{
                margin-left: 0;
                list-style: square;

                li{
                    padding: 2px;
                    text-align: left;
                }
            }

            div#social-media{
                align-items: center;
                padding-left: 20px;

                div.social-media-item{
                    flex: 1 1 80px;

                    p {
                        text-align: center;

                        &.social-logo {
                            font-size: 3em;
                            border-radius: 200px;
                            padding: 20px;
                            margin: 10px 10px 30px 10px;
                            border: 2px solid $white;

                            @media screen and (max-width: 1230px){
                                padding: 25px;
                                border-radius: 300px;
                                font-size: 2em;
                            }

                            @media screen and (max-width: 1000px) {
                                border-radius: 50%;
                            }

                            @media screen and (max-width: 400px) {
                                font-size: 1.4em;
                            }
                        }
                    }
                }

                @media screen and (max-width: 1100px) {
                    max-width: 400px;
                }

                @media screen and (max-width: 830px) {
                    padding-left: 0;
                }
            }
            
            @media screen and (max-width: 830px) {
                flex: 1 1 100%;
                margin: 0 auto;
                padding-bottom: 50px;
            }
        }
    }

    div#copyright{
        background-color: $white;
        text-align: center;
        font-size: 0.9em;
        color: #595959;
        padding: 0 20px;
    }
}